# Godot 4+ specific ignores
.godot/
/android/

# Godot-specific
.import/
export.cfg
export_presets.cfg

# OS/editor specific
.DS_Store
*.tmp
*.log
*.godot/tmp/
*.swp
*.bak

# VS Code
.vscode/

# Build artifacts
*.mono/
*.dll
*.exe
*.pck

assets/
addons/